%h1 About Project

%p
  <tt>Lovely.IO</tt> is a front-side development platform, which includes
  a modular framework, development tools, CDN hosting, packaging and
  asynchronous modules loading with automatic dependencies handling.

%p
  The idea of the project is to provide a full-stack environment for
  creating easy to maintain and use front-side modules. In a sense it
  is much like server-side languages package managers, but for
  the front side.

%h1 Contacts

%dl
  %dt Google Group
  %dd= link_to "Lovely.IO Google Group", "http://groups.google.com/group/lovelyio"

  %dt IRC Channel
  %dd= link_to "#lovelyio on freenode", "irc://irc.freenode.net/lovelyio"

  %dt Follow me on Twitter!
  %dd= link_to "@nemshilov", "http://twitter.com/nemshilov"

  %dt Bug Trackers
  %dd
    %li= link_to "Core issues", "https://github.com/MadRabbit/lovely.io/issues"
    %li= link_to "Site issues", "https://github.com/MadRabbit/lovely.io-host/issues"