= form_for @show do |f|
  = f.error_messages

  %p.required
    = f.label :title
    = f.text_field :title

  %p.required
    = f.label :text
    = f.text_area :text, :rows => 20, :cols => 80

  %p.required
    = f.label :vimeo_id, "Vimeo ID"
    = f.text_field :vimeo_id

  %p.buttons
    = f.submit
