= form_for @show do |f|
  = f.error_messages

  %p.required
    = f.label :title
    = f.text_field :title

  %p.required
    = f.label :text
    = f.text_area :text, :rows => 20, :cols => 80

  %p.required
    = f.label :src_url, "Source Code URL"
    = f.text_field :src_url

  %p.required
    = f.label :mpg_url, "MP4 Movie URL"
    = f.text_field :mpg_url

  %p.required
    = f.label :ogg_url, "OGV Movie URL"
    = f.text_field :ogg_url

  %p.required
    = f.label :img_url, "Snapshot URL"
    = f.text_field :img_url


  %p.buttons
    = f.submit
