%h1
  .date= @show.created_at.to_s(:short)
  .title= @show.title

%article
  %p{:align => 'center'}
    = vimeo_video @show.vimeo_id

  =md @show.text.gsub('<cut>', '')

%p.bottom-links
  = link_to "Recent Episodes", shows_path, :class => :back

= disqus_comments