!!!HTML5
%html
  %head
    %title= "Lovely.IO » #{@page_title}"
    = stylesheet_link_tag 'application'

  %body{:class => body_class_name}
    %header
      %h1= link_to 'Lovely.IO', '/'
      %h2 The Front-Side Development Platform

      %form#search{:action => packages_path, :method => :get}
        %input{ :type => 'text', :placeholder => "Search", :name => :search, :value => params[:search]}

      %nav
        = link_to "Home",  root_path
        |
        = link_to "Packages", packages_path
        |
        = link_to "About", page_path(:about)
        |
        = render "layouts/userbar"


    - unless (sidebar_content = yield(:sidebar)).blank?
      %sidebar= sidebar_content

    %section
      = flash_messages
      = yield

    %footer
      Copyright (C) 2011
      = link_to "Nikolay Nemshilov", "http://st-on-it.blogspot.com"