!!!HTML5
%html
  %head
    - main_content = yield
    - sidebar_content = yield(:sidebar)
    - @page_title ||= (main_content.scan(/<h1>(.+?)<\/h1>/im)[0] or [''])[0]
    - @page_title = 'Home' if @page_title.blank?
    - @page_title = @page_title.gsub(/<[^>]+>/, '')

    %title= "Lovely.IO » #{@page_title}"
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag    'application'
    = javascript_include_cdn 'core', 'dom', 'colorifier'
    = javascript_include_tag 'application'
    = yield :head

    = auto_discovery_link_tag :atom, news_index_path(:format => :atom), :title => "Lovely.IO News"
    = auto_discovery_link_tag :atom, updated_packages_path(:format => :atom), :title => "Lovely.IO Packages"

  %body{:class => body_class_name}
    %header
      %h1= link_to 'Lovely.IO', '/'
      %h2 The Next Generation of Front-Side

      = render 'layouts/search'

      %nav
        = link_to "Packages", packages_path
        |
        = link_to "Wiki", "http://github.com/MadRabbit/lovely.io/wiki"
        |
        = link_to "Show", shows_path
        |
        = link_to "News", news_index_path
        |
        = render 'layouts/userbar'



    - unless sidebar_content.blank?
      %sidebar= sidebar_content

    %section
      = main_content
      .clear

    %footer
      Copyright (C) 2011
      = link_to "Nikolay Nemshilov", "http://st-on-it.blogspot.com"

      %nav
        = link_to "Terms of Use", page_path(:terms)
        |
        = link_to "About", page_path(:about)