!!!HTML5
%html
  %head
    %title= "Lovely.IO » #{@page_title}"
    = stylesheet_link_tag 'application'

  %body{:class => body_class_name}
    %header
      %h1= link_to 'Lovely.IO', '/'
      %h2 The Front-Side Development Platform

      %form#search
        %input{ placeholder: "Search"}

      %nav
        = link_to "Home",  root_path
        |
        = link_to "About", page_path(:about)
        |
        = render "layouts/userbar"

    %section
      = flash_messages
      = yield

    %footer
      Copyright (C) 2011
      = link_to "Nikolay Nemshilov", "http://st-on-it.blogspot.com"